In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
pd.set_option('display.max_colwidth', 225)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/airports/airports_w_headers.csv

In [2]:
df = pd.read_csv("/kaggle/input/airports/airports_w_headers.csv")

In [3]:
df.head(4)

,airport_id,"""name""","""city""","""country""","""iata""","""icao""","""latitude""","""longitude""","""altitude""","""timezone""","""dst""","""timezone_name""","""type""","""source"""
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [4]:
df.shape

(7698, 14)

In [5]:
df.describe()

         airport_id   "latitude"   "longitude"    "altitude"   "timezone"
count   7698.000000  7698.000000   7698.000000   7698.000000  7345.000000
mean    5170.950117    25.808442     -1.390546   1015.873344     0.285303
std     3777.259930    28.404946     86.519162   1628.775132     5.716150
min        1.000000   -90.000000   -179.876999  -1266.000000   -12.000000
25%     1993.250000     6.907983    -78.974699     63.000000    -5.000000
50%     4068.000000    34.085701      6.375653    352.000000     1.000000
75%     7728.750000    47.239551     56.000599   1203.000000     4.000000
max    14110.000000    89.500000    179.951004  14472.000000    13.000000

In [6]:
df.describe(include="object")

,"""name""","""city""","""country""","""iata""","""icao""","""dst""","""timezone_name""","""type""","""source"""
count,7698,7646,7698,6072,7697,7345,6677,7698,7698
unique,7658,6954,237,6072,7697,7,307,1,1
top,San Pedro Airport,London,United States,GKA,AYGA,U,America/New_York,airport,OurAirports
freq,3,9,1512,1,1,1862,449,7698,7698