In [19]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s4e2/sample_submission.csv
/kaggle/input/playground-series-s4e2/train.csv
/kaggle/input/playground-series-s4e2/test.csv

In [20]:
df = pd.read_csv("/kaggle/input/playground-series-s4e2/train.csv")

In [21]:
df.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,10378.50000,23.841804,1.700245,87.887768,2.445908,2.761332,2.029418,0.981747,0.616756
std,5992.46278,5.688072,0.087312,26.379443,0.533218,0.705375,0.608467,0.838302,0.602113
min,0.00000,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5189.25000,20.000000,1.631856,66.000000,2.000000,3.000000,1.792022,0.008013,0.000000
50%,10378.50000,22.815416,1.700000,84.064875,2.393837,3.000000,2.000000,1.000000,0.573887
75%,15567.75000,26.000000,1.762887,111.600553,3.000000,3.000000,2.549617,1.587406,1.000000
max,20757.00000,61.000000,1.975663,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [23]:
for a in df.columns:
    print(a,len(df.loc[:,a].unique()))

id 20758
Gender 2
Age 1703
Height 1833
Weight 1979
family_history_with_overweight 2
FAVC 2
FCVC 934
NCP 689
CAEC 4
SMOKE 2
CH2O 1506
SCC 2
FAF 1360
TUE 1297
CALC 3
MTRANS 5
NObeyesdad 7

In [24]:
df.sample(4)

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
16856,16856,Female,20.000000,1.600000,60.000000,yes,yes,3.000000,4.000000,Frequently,no,3.000000,no,0.000000,1.000000,no,Public_Transportation,Overweight_Level_II
1956,1956,Female,19.126145,1.624367,68.869791,yes,yes,1.975675,3.715306,Sometimes,no,2.045069,yes,1.814869,0.426643,Sometimes,Public_Transportation,Overweight_Level_I
8135,8135,Female,23.000000,1.580000,45.000000,no,no,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,2.000000,no,Public_Transportation,Insufficient_Weight
1296,1296,Male,21.000000,1.700000,65.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,yes,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight

In [25]:
df.NObeyesdad.value_counts()

NObeyesdad
Obesity_Type_III       4046
Obesity_Type_II        3248
Normal_Weight          3082
Obesity_Type_I         2910
Insufficient_Weight    2523
Overweight_Level_II    2522
Overweight_Level_I     2427
Name: count, dtype: int64

In [26]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [27]:
def preprocess(dff):
    categorical_columns = ['Gender', 'family_history_with_overweight', 'FAVC', 'CAEC', 'SMOKE', 'SCC', 'CALC', 'MTRANS']
    dummies = pd.get_dummies(dff[categorical_columns]).astype(int)
    dff.drop(columns=categorical_columns, inplace=True)
    final = pd.concat([dff, dummies], axis=1)
    return final

In [28]:
x = preprocess(x)
x=x.iloc[:,1:]
x

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Gender_Female,Gender_Male,...,SCC_no,SCC_yes,CALC_Frequently,CALC_Sometimes,CALC_no,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,24.443011,1.699998,81.669950,2.000000,2.983297,2.763573,0.000000,0.976473,0,1,...,1,0,0,1,0,0,0,0,1,0
1,18.000000,1.560000,57.000000,2.000000,3.000000,2.000000,1.000000,1.000000,1,0,...,1,0,0,0,1,1,0,0,0,0
2,18.000000,1.711460,50.165754,1.880534,1.411685,1.910378,0.866045,1.673584,1,0,...,1,0,0,0,1,0,0,0,1,0
3,20.952737,1.710730,131.274851,3.000000,3.000000,1.674061,1.467863,0.780199,1,0,...,1,0,0,1,0,0,0,0,1,0
4,31.641081,1.914186,93.798055,2.679664,1.971472,1.979848,1.967973,0.931721,0,1,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20753,25.137087,1.766626,114.187096,2.919584,3.000000,2.151809,1.330519,0.196680,0,1,...,1,0,0,1,0,0,0,0,1,0
20754,18.000000,1.710000,50.000000,3.000000,4.000000,1.000000,2.000000,1.000000,0,1,...,1,0,0,1,0,0,0,0,1,0
20755,20.101026,1.819557,105.580491,2.407817,3.000000,2.000000,1.158040,1.198439,0,1,...,1,0,0,0,1,0,0,0,1,0
20756,33.852953,1.700000,83.520113,2.671238,1.971472,2.144838,0.000000,0.973834,0,1,...,1,0,0,0,1,1,0,0,0,0
20757,26.680376,1.816547,118.134898,3.000000,3.000000,2.003563,0.684487,0.713823,0,1,...,1,0,0,1,0,0,0,0,1,0

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
y

array([6, 1, 0, ..., 3, 6, 3])

In [34]:
import xgboost as xgb

# Create a DMatrix for XGBoost
dtrain = xgb.DMatrix(x, label=y)

params = {
    'objective': 'multi:softprob',  # Use softmax objective for multiclass classification
    'num_class': 7,       # Number of unique label combinations
    'tree_method': 'gpu_hist',      # Use GPU acceleration
    'eval_metric': 'mlogloss'       # Use multiclass logloss as the evaluation metric
}


# Train the model
bst = xgb.train(params, dtrain, num_boost_round=500)

/opt/conda/lib/python3.10/site-packages/xgboost/core.py:160: UserWarning: [04:57:42] WARNING: /workspace/src/common/error_msg.cc:27: The tree method `gpu_hist` is deprecated since 2.0.0. To use GPU training, set the `device` parameter to CUDA instead.

    E.g. tree_method = "hist", device = "cuda"

  warnings.warn(smsg, UserWarning)

In [35]:
test = pd.read_csv("/kaggle/input/playground-series-s4e2/test.csv")
test.loc[test['CALC'] == 'Always', 'CALC'] = 'Frequently'
test2 = preprocess(test)

In [36]:
test2 = test2.iloc[:,1:]
test2

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Gender_Female,Gender_Male,...,SCC_no,SCC_yes,CALC_Frequently,CALC_Sometimes,CALC_no,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,26.899886,1.848294,120.644178,2.938616,3.000000,2.825629,0.855400,0.000000,0,1,...,1,0,0,1,0,0,0,0,1,0
1,21.000000,1.600000,66.000000,2.000000,1.000000,3.000000,1.000000,0.000000,1,0,...,1,0,0,1,0,0,0,0,1,0
2,26.000000,1.643355,111.600553,3.000000,3.000000,2.621877,0.000000,0.250502,1,0,...,1,0,0,1,0,0,0,0,1,0
3,20.979254,1.553127,103.669116,2.000000,2.977909,2.786417,0.094851,0.000000,0,1,...,1,0,0,1,0,0,0,0,1,0
4,26.000000,1.627396,104.835346,3.000000,3.000000,2.653531,0.000000,0.741069,1,0,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13835,23.327836,1.721384,78.030383,2.813234,3.000000,1.000000,0.807076,0.778632,0,1,...,1,0,0,1,0,0,0,0,1,0
13836,29.000000,1.590000,62.000000,3.000000,3.000000,2.000000,0.000000,0.000000,1,0,...,1,0,0,1,0,0,0,0,1,0
13837,22.935612,1.585547,44.376637,3.000000,2.273740,2.000000,1.949840,1.000000,1,0,...,1,0,0,1,0,0,0,0,1,0
13838,21.000000,1.620000,53.000000,2.000000,3.000000,2.000000,3.000000,2.000000,0,1,...,1,0,0,0,1,0,0,0,1,0
13839,26.490926,1.812259,120.980508,2.744994,3.000000,2.205977,1.304291,0.630866,0,1,...,1,0,0,1,0,0,0,0,1,0

In [46]:
test2.reindex(columns=x.columns, fill_value=0)
dtest = xgb.DMatrix(test2)
predictions = bst.predict(dtest)

In [48]:
predictions = np.argmax(predictions,axis=1)

In [49]:
actual_labels = le.inverse_transform(predictions)

In [50]:
test = pd.read_csv("/kaggle/input/playground-series-s4e2/test.csv")
sub = pd.DataFrame({"id":test.id,"NObeyesdad":actual_labels})

In [51]:
sub.to_csv("submission3.csv",index=False)