In [1]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import log_loss

#for dirname, _, filenames in os.walk('/kaggle/input'):
 #   for filename in filenames:
  #      print(os.path.join(dirname, filename))

If you want to learn what Log_Loss is you can visit this notebook by GM DANB:
https://www.kaggle.com/code/dansbecker/what-is-log-loss/notebook

# This text is for understanding the requirements of the competition:

For a while forget what this competition is all about, Recall when you are solving a competition on Kaggle related to Binary Classification, when you submit your submission file it give you log loss(sometimes accuracy) to let you know how better your model was. (Higher the accuacy better the model AND lower the log_loss better the model).

But on the public leaderboard what they tell you is your model performance on partial data lets say on 24%, and they say remaining 76% will be included in final private board.

So, what we do there, based on the result of that 24% data, we try to improve our model.

Something same is going in this competition. They have provided 5000 submission files along with their log_loss score as their names. But thats for only 50% of the data, Here you have to predict the probability of the classes based on other submissions prediction and their log_loss, for remaining 50% of the data.

1-20k Labels Available  ---------> predictions available ------------> Log_Loss available

20k-40k Labels Missing  ---------> predictions available ------------> Log_Loss available

                                   (You need to find best predictions to minimize Log_Loss for 20k to 40k Labels)

Thats all for now.

If someone wants to add anything, you are welcome to share your thoughts in Comments, I will add it here with your name.

Thanks.

In [2]:
path="/kaggle/input/tabular-playground-series-nov-2022/submission_files"
li = os.listdir(path)
li=[path+"/"+a for a in li]
len(li)

5000

In [3]:
pred1 = pd.read_csv(li[0],index_col="id")

In [4]:
pred1

           pred
id
0      0.713797
1      0.663330
2      0.772586
3      0.710306
4      0.955168
...         ...
39995  0.559447
39996  0.599315
39997  0.703259
39998  0.868605
39999  0.661756

[40000 rows x 1 columns]

In [5]:
labels = pd.read_csv("../input/tabular-playground-series-nov-2022/train_labels.csv",index_col="id")

In [6]:
labels

       label
id
0          0
1          1
2          1
3          1
4          0
...      ...
19995      1
19996      1
19997      0
19998      0
19999      1

[20000 rows x 1 columns]

In [7]:
df2 = pd.read_csv("../input/tabular-playground-series-nov-2022/sample_submission.csv",index_col="id")

Submit best prediction for 20k to 40k in given pattern

In [8]:
df2

           pred
id
20000  0.640707
20001  0.636904
20002  0.392496
20003  0.588658
20004  0.783603
...         ...
39995  0.382515
39996  0.352498
39997  0.577554
39998  0.712353
39999  0.483215

[20000 rows x 1 columns]